.call-police{
  font-style: italic;
  width: 200px;
  height: 200px;
  font-family: Arial;
  font-size: 20px;
  padding: 50px 10px;
  text-align: center;
  border-radius: 50%;
  background-color: #f76d42;
  text-decoration: none;
}
