#home {
  font-style: italic;
}

.fa-arrow-circle-up {
  position: absolute;
  top: 0px;
  left: 42%;
}

.fa-arrow-circle-down {
  position: absolute;
  bottom: 0px;
  left: 42%;
}

.button-label {
  font-size: 10pt;
  padding-top: 10px;
  padding-left: 60px;
}

.eta-label {
  padding-top: 16px;
  padding-left: 56px;
}


.notification-text {
  color: #C74141;
  font-family: 'OpenSans-Bold';
  text-align: center;
  font-weight: 900;
  margin-left: -41px;
  font-size: 25px;

}

.time {
  margin-top: 20px;
  text-align: center;
  margin-left:-42px;
}

#police-button {
  width: 200px;
  height: 200px;
  margin: 0;
}
