th {
    text-align: left;
}


  .selected{
    background-color: dimgrey;
  }

  table {
      // border-spacing: 5px;
      width: 90%;

  }

  .scroll-down-label {
    padding-top: 30px;
    padding-left: 56px;
  }

  .scroll-up-label {
    padding-top: 08px;
    padding-left: 65px;
  }
