.rating {
  background-color: rgba(0, 0, 16, 0.8);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
}

svg {
  fill: rgb(242, 242, 242);
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
}

#radios label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input + svg {
  cursor: pointer;
}


input[class="1"]:hover + svg,
input[class="1"]:checked + svg,
input[class="1"]:focus + svg {
  fill: rgb(0, 204, 79);
}

input[class="2"]:hover + svg,
input[class="2"]:checked + svg,
input[class="2"]:focus + svg {
  fill: rgb(232, 214, 0);
}

input[class="3"]:hover + svg,
input[class="3"]:checked + svg,
input[class="3"]:focus + svg {
  fill: rgb(229, 132, 0);
}

input[class="4"]:hover + svg,
input[class="4"]:checked + svg,
input[class="4"]:focus + svg {
  fill: rgb(239, 42, 16);
}
