th {
    text-align: left;
}


  .selected{
    background-color: dimgrey;
  }

#watch-face{
  font-family: Arial;
}
  table {
      // border-spacing: 5px;
      font-family: Arial;
      width: 90%;

  }

  .scroll-down-label {
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 56px;
  }

  .scroll-up-label {
    padding-top: 08px;
    padding-left: 65px;
  }
