
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<button type="submit" class="call-police">Press to cancel call</button>

<p class="button-label eta-label">Back to ETA</p>
<i class="fas fa-arrow-circle-down"></i>
