<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<i class="fas fa-arrow-circle-up"></i>
<p class="button-label">Cancel Call</p>
<div class="notification notification-text">Police have been notified</div>

<div class="time">
  <div class="notification">ETA:</div>
  {{eta_time}}

  <span class="current-time">
    <div class="notification">Current Time:</div>
    {{time}}
  </span>
</div>
