<div class="notification"><strong>Police have been notified</strong></div>

<div class="notification">Estimated Arrival Time:</div>
<span class="clock-time">{{eta_time}}</span>

<div class="notification">Current Time:</div>
<span class="clock-time">{{time}}</span>
