<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<i class="fas fa-arrow-circle-up"></i>
<p class="button-label scroll-up-label">Scroll up</p>
<table>
  <tr>
    <th>Safehouse</th>
    <th>Distance</th>

  </tr>
  <tr id='1' class='selected'>
    <td>Safehouse 1</td>
    <td>0.2km away</td>
  </tr>
  <tr id='2'>
    <td>Safehouse 2</td>
    <td>1.5km away</td>
  </tr>
  <tr id='3'>
    <td>Safehouse 3</td>
    <td>1.7km away</td>
  </tr>
</table>

<br>
<p class="button-label scroll-down-label">Scroll down</p>
<i class="fas fa-arrow-circle-down"></i>
