<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <b style="text-align: center">Safehouse #2</b>

<table>
  <tr style="border-bottom:1pt solid white;">
    <td>Contact number:</td>
    <td>986342198</td>
  </tr>
  <tr style="border-bottom:1pt solid white;">
    <td>Opening Hours:</td>
    <td>9AM to 5PM 7 days a week</td>
  </tr>
  <tr style="border-bottom:1pt solid white;">
    <td>Features:</td>
    <td>24/7 care, security available, childcare</td>
  </tr>
  <tr style="border-bottom:1pt solid white;">
    <td>Address:</td>
    <td>123 York Street, Sydney CBD NSW 2000</td>
  </tr>
</table>

