<h2>Safety check</h2>

<p>Q: How safe do you feel?</p>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="survey2">
  <span class="fa fa-angellist checked" id="1"></span>
  <span class="fa fa-angellist checked" id="2"></span>
  <span class="fa fa-angellist checked" id="3"></span>
  <span class="fa fa-angellist" id="4"></span>
  <span class="fa fa-angellist" id="5"></span>
</div>
